ChordNote/venv/Scripts/vcruntime140.dll
ChordNote/venv/Scripts/unicodedata.pyd
ChordNote/venv/Scripts/tk86t.dll
ChordNote/venv/Scripts/tcl86t.dll
ChordNote/venv/Scripts/sqlite3.dll
ChordNote/venv/Scripts/select.pyd
ChordNote/venv/Scripts/pythonw.exe
ChordNote/venv/Scripts/python36.dll
ChordNote/venv/Scripts/python3.dll
ChordNote/venv/Scripts/python.exe
ChordNote/venv/Scripts/pyexpat.pyd
ChordNote/venv/Scripts/deactivate.bat
ChordNote/venv/Scripts/activate.bat
ChordNote/venv/Scripts/activate
ChordNote/venv/Scripts/_tkinter.pyd
ChordNote/venv/Scripts/_testcapi.pyd
ChordNote/venv/Scripts/_testbuffer.pyd
ChordNote/venv/Scripts/_ssl.pyd
ChordNote/venv/Scripts/_sqlite3.pyd
ChordNote/venv/Scripts/_socket.pyd
ChordNote/venv/Scripts/_overlapped.pyd
ChordNote/venv/Scripts/_multiprocessing.pyd
ChordNote/venv/Scripts/_msi.pyd
ChordNote/venv/Scripts/_lzma.pyd
ChordNote/venv/Scripts/_hashlib.pyd
ChordNote/venv/Scripts/_elementtree.pyd
ChordNote/venv/Scripts/_distutils_findvs.pyd
ChordNote/venv/Scripts/_decimal.pyd
ChordNote/venv/Scripts/_ctypes_test.pyd
ChordNote/venv/Scripts/_ctypes.pyd
ChordNote/venv/Scripts/_bz2.pyd
ChordNote/venv/Scripts/_asyncio.pyd
ChordNote/venv/Scripts/Activate.ps1
ChordNote/venv/Lib/tcl8.6/init.tcl
ChordNote/chordnote_app/migrations/__pycache__/__init__.cpython-36.pyc
ChordNote/chordnote_app/migrations/__pycache__/0001_initial.cpython-36.pyc
ChordNote/chordnote_app/__pycache__/views.cpython-36.pyc
ChordNote/chordnote_app/__pycache__/urls.cpython-36.pyc
ChordNote/chordnote_app/__pycache__/models.cpython-36.pyc
ChordNote/chordnote_app/__pycache__/apps.cpython-36.pyc
ChordNote/chordnote_app/__pycache__/admin.cpython-36.pyc
ChordNote/chordnote_app/__pycache__/__init__.cpython-36.pyc
ChordNote/ChordNote/__pycache__/wsgi.cpython-36.pyc
ChordNote/ChordNote/__pycache__/urls.cpython-36.pyc
ChordNote/ChordNote/__pycache__/settings.cpython-36.pyc
ChordNote/ChordNote/__pycache__/__init__.cpython-36.pyc
ChordNote/.idea/workspace.xml
ChordNote/.idea/modules.xml
ChordNote/.idea/misc.xml
ChordNote/.idea/ChordNote.iml
ChordNote/venv/pyvenv.cfg
ChordNote/venv/Scripts/winsound.pyd
ChordNote/venv/Scripts/_testmultiphase.pyd
ChordNote/venv/Scripts/_testimportmultiple.pyd
ChordNote/venv/Scripts/_testconsole.pyd
ChordNote/chordnote_app/migrations/__pycache__/0002_checkcode.cpython-36.pyc
ChordNote/chordnote_app/migrations/0002_checkcode.py
ChordNote/.idea/vcs.xml
ChordNote/.idea/deployment.xml
ChordNote/.idea/dataSources/10c7619b-fdc7-4e24-94d1-2dd5e7d651aa.xml
ChordNote/.idea/dataSources.xml
ChordNote/.idea/dataSources.local.xml
ChordNote/.idea/dataSources/4b7be130-559c-4165-9c5f-ecfc05a41fa6.xml
